
.first{
	height: 90px;
	width: 100%;
}
.logoplace{
	margin-left: 30px;
	margin-top: 25px;
	position: absolute;
	float: left;
	height :40px;
	width:90px;
	background:url("https://firebasestorage.googleapis.com/v0/b/indigo-listener-256706.appspot.com/o/hmsmngmnt_bg.png?alt=media&token=76bdbc8f-f3cb-437d-a2d2-a7d12e499ee2");
	background-size: 90px 40px;
}	
.inputs{
	width: 160px;
	height: 30px;
	padding-left: 15px;
}
.logoinsidename{
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 10px 0;

}
.textplace{
	width: 400px;
	margin-top: 30px;
	margin-right: 10px;
	height: 50px;
	float:right;
}
.textinside{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
}
.logout{
	padding: 5px 8px;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	background-color: black;
	border-radius: 30px;
}
.selector{
	float: left;
}

.second{
	width: 100%;
	height: 50px;
	background-color: #466393;
}


.selector1{
	font-size: 18px;
	color: white;
	float: left;
	padding: 15px;
}
.notification_icon{
	float: right;
	margin: 15px;
}



.thirdDoctor{
	height: 100%;
	background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://firebasestorage.googleapis.com/v0/b/soundinbackground.appspot.com/o/Doctors.jpg?alt=media&token=349807a9-0258-48bb-9073-08891ac8c9d4");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.thirdHospitalAdmin{
	height: 100%;
	background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://firebasestorage.googleapis.com/v0/b/soundinbackground.appspot.com/o/HospitalAdmin.jpg?alt=media&token=c4bac8d9-cf66-4863-a724-cb1c72546413");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.thirdPatient{
	height: 100%;
	background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://firebasestorage.googleapis.com/v0/b/soundinbackground.appspot.com/o/patient.jpg?alt=media&token=9f5dfa91-87d6-4c3b-b938-8ee601d2e501");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


.thirdAdmin{
	height: 100%;
	background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://firebasestorage.googleapis.com/v0/b/soundinbackground.appspot.com/o/SysAdmin.jpg?alt=media&token=b9e97d0b-cc24-45ed-a385-8f40b1506ca0");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.fourth{
	padding: 20px 0;
  	text-align: center;
	width: 18%;
	margin: 20px;
	margin-left: 100px;
	color: white;
	border-radius: 5px;
	background-color: #498af6;

}
.fifth{
	margin-left:10%;
	margin-right: 10%;
}



a{
	text-decoration: none;
}


table.table-bordered >thead > tr >th{
	
    border:2px solid black;
}
table.table-bordered {
	font-size:22px;
    border:2px solid black;
}



.box {
  float: left;
  width: 45%;
  padding: 10px;
  margin:20px;
}
